<div>
    <div class="flex">
        <h3 class="text-2xl mb-2">Daftar Categories</h3>
        <button class="btn btn-primary ml-auto mb-2" (click)="create()">Buat</button>
    </div>

    <div class="collapse bg-base-200">
        <input type="checkbox">
        <div class="collapse-title text-xl font-medium">
            Pencarian
        </div>
        <div class="collapse-content grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 mb-5">
            <div class="form-control w-full px-2">
                <label class="label">
                    <span class="label-text">Category Name</span>
                </label>
                <input type="text" class="input input-bordered w-full max-w-xs" [(ngModel)]="dataSearch.name" />
            </div>

            <div class="w-full"></div>

            <button class="btn btn-primary mt-9 lg:ml-auto" (click)="search()">Cari</button>
        </div>

    </div>

    <div class="overflow-x-auto">
        <table class="table border w-full">
            <!-- head -->
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Category Name</th>
                    <th class="text-center">Category Image</th>
                    <th class="text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>

                <tr class="hover"
                    *ngFor="let ctgr of categories | paginate: { id:'categoriesPage', itemsPerPage: dataSearch.limit, currentPage: dataSearch.page, totalItems: totalData }">
                    <th>{{ ctgr.id }}</th>
                    <td>{{ ctgr.name }}</td>
                    <td class="text-center">
                        <div class="flex justify-center items-center">
                            <div class="w-20 rounded text-center">
                                <img src="{{ api.imageUrl + ctgr.imgThumbPath }}" alt="">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-center items-center">
                            <!-- <label for="my-modal-6" class="btn btn-primary mx-1">Ubah</label> -->
                            <button class="btn btn-primary mx-1" (click)="edit(ctgr.id)">Ubah</button>
                            <button class="btn btn-warning mx-1" (click)="delete(ctgr)">Hapus</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="text-center mt-5">
        <pagination-controls (pageChange)="onPageChange($event)" id="categoriesPage"></pagination-controls>
    </div>
</div>

<app-categories-modal-create-update [isOpenedModal]="isOpenModalCru" (modalEvent)="pCloseModalCru($event)"
    [textCreateUpdate]="operationMode" [selectedCategory]="selectedCategory"></app-categories-modal-create-update>
<!-- <app-menu-modal-delete [isOpenedModal]="isOpenModalDel" (modalEvent)="pCloseModalDel($event)"
		[Category]="selectedCategory"></app-menu-modal-delete> -->
