<!-- Put this part before </body> tag -->
<input type="checkbox" class="modal-toggle" [(ngModel)]="isOpenedModal" />
<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Hapus Role</h3>
    <p class="py-4" *ngIf="userHasLoad">Are you sure want to role {{ role.role_name }}?</p>
    <div class="modal-action">
      <button class="btn btn-primary" (click)="deleteRole()">Hapus</button>
      <button class="btn btn-secondary" (click)="cCloseModal()">Tutup</button>
    </div>
  </div>
</div>
