<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" [(ngModel)]="isDrawerOpen" />
  <div class="drawer-content">
    <!-- Page content here -->
    <app-topnavbar [user]="user"></app-topnavbar>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-base-100 text-base-content">
      <li class="mb-1 rounded hover:bg-primary hover:text-white"
        [ngClass]="{'bg-primary text-white': router.url == '/'}" routerLink="/" (click)="home()">
        <div class="flex justify-normal">
          <i class="fa-solid fa-house-chimney"></i>
          <a>Home</a>
        </div>
      </li>
      <!-- Sidebar content here -->
      <div *ngIf="hasLoad">
        <div *ngFor="let menu of user.role.menus; let i = index">
          <div class="dropdown btn-block">
            <li *ngIf="menu.menu.frontend_url == null" tabIndex="{{i}}" class="mb-1 rounded hover:bg-primary hover:text-white"
              [ngClass]="{'bg-primary text-white': currentMenuId == menu.menu.id }">
              <div class="flex justify-normal">
                <i class="{{ menu.menu.menu_icon }}"></i>
                <a>{{ menu.menu.menu_name }}</a>
              </div>
            </li>
            <li *ngIf="menu.menu.frontend_url != null" tabIndex="{{i}}" class="mb-1 rounded hover:bg-primary hover:text-white"
              [ngClass]="{'bg-primary text-white': currentMenuId == menu.menu.id }" routerLink="{{ menu.menu.frontend_url }}" (click)="afterClickMenu(menu.menu.id)">
              <div class="flex justify-normal">
                <i class="{{ menu.menu.menu_icon }}"></i>
                <a>{{ menu.menu.menu_name }}</a>
              </div>
            </li>
            <ul tabindex="{{i}}" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
              *ngIf="menu.menu.menu_have_child">
              <div *ngFor="let subm of menu.submenus">
                <li class="rounded mb-1" [ngClass]="{'bg-primary text-white': router.url == subm.submenu.frontend_url }"
                  routerLink="{{ subm.submenu.frontend_url }}" (click)="afterClickMenu(subm.submenu.menu_id)">
                  <div class="flex justify-normal">
                    <i class="{{ subm.submenu.submenu_icon }}"></i>
                    <a>{{ subm.submenu.submenu_name }}</a>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>

    </ul>
  </div>
</div>
