<div>
  <div class="flex">
    <h3 class="text-2xl mb-2">Daftar Roles</h3>
    <button class="btn btn-primary ml-auto mb-2" (click)="create()">Buat</button>
  </div>

  <div class="collapse bg-base-200">
    <input type="checkbox">
    <div class="collapse-title text-xl font-medium">
      Pencarian
    </div>
    <div class="collapse-content grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 mb-5">
      <div class="form-control w-full px-2">
        <label class="label">
          <span class="label-text">Role Name</span>
        </label>
        <input type="text" class="input input-bordered w-full max-w-xs" [(ngModel)]="dataSearch.roleName" />
      </div>

      <div class="w-full"></div>

      <button class="btn btn-primary mt-9 lg:ml-auto" (click)="search()">Cari</button>
    </div>

  </div>

  <div class="overflow-x-auto">
    <table class="table border w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>No.</th>
          <th>Role Name</th>
          <!-- <th class="text-center">Active</th> -->
          <th class="text-center">Aksi</th>
        </tr>
      </thead>
      <tbody>

        <tr class="hover" *ngFor="let rl of roles| paginate: { id:'rolePage', itemsPerPage: dataSearch.limit, currentPage: dataSearch.page, totalItems: totalData };">
          <th>{{ rl.id }}</th>
          <td>{{ rl.roleName }}</td>
          <!-- <td class="text-center">
            <i class="fa-solid fa-check text-xl text-accent" *ngIf="rl.isActive"></i>
            <i class="fa-solid fa-xmark text-xl text-error" *ngIf="!rl.isActive"></i>
          </td> -->
          <!-- <td class="avatar flex justify-center items-center"> <div class="w-20 rounded"><img src="{{ api.baseUrl }}role/image/{{ rl.id }}" loading="lazy"/></div> </td> -->
          <td>
            <div class="flex justify-center items-center">
              <button class="btn btn-primary mx-1" (click)="edit(rl.id)">Ubah</button>
              <button class="btn btn-warning mx-1" (click)="delete(rl)">Hapus</button>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="text-center mt-5">
    <pagination-controls (pageChange)="onPageChange($event)" id="rolePage"></pagination-controls>
  </div>
</div>

<app-role-modal-create-update [isOpenedModal]="isOpenModalCru" (modalEvent)="pCloseModalCru($event)" [textCreateUpdate]="operationMode" [selectedRole]="selectedRole"></app-role-modal-create-update>
<app-role-modal-delete [isOpenedModal]="isOpenModalDel" (modalEvent)="pCloseModalDel($event)" [Role]="deletedRole"></app-role-modal-delete>
